body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section, a, span, label, em, strong, b, i, del {
    margin: 0;
    padding: 0;
    /*color: #333;*/
    font: 12px/16px microsoft yahei, Verdana, Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 16px;
    /*font-family: 'microsoft yahei', Verdana, Arial;*/
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    border-color: #939393;
    border-width: thin;

}

a {
    color:#313131;
    cursor: pointer;
    text-decoration: none;
}
a:link{
    color: #313131;
}


div {
    /*cursor: pointer;*/
}

div .toast {
    z-index: 999;
    padding: 20px 30px;
    border: 1px solid #333;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -45%);
    background-color: #333;
    opacity: 0.8;
    display: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    min-width: 126px;
    max-width: 196px;
}

div.wrap {
    /*position: relative;*/
    min-width: 320px;
    max-width: 640px;
    /*height: 100vh;*/
    margin: 0 auto;
    overflow-x: hidden;
    /*background-color: #f5f3f1;*/
    font-family: microsoft yahei;
    color: #313131;
}
div.foot {
    background-color:#EFEFEF ;
    position: fixed;
    width: 100%;
    height: 32px;
    bottom:0;
}
.foot a.foot-nave {
    color: #313131;
    float: left;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: calc(25% - 1px);
    height: 32px;
    line-height: 32px;
    border-left: solid 1px #D6D6D6;

}
div.foot-cate-sub {
    display: none;
    position: fixed;
    background-color:#EFEFEF ;
    bottom: 32px;
    left: 25%;
    width: 25%;
    height: 200px;
}

div.foot-user-sub{
    display: none;
    position: fixed;
    background-color:#EFEFEF ;
    bottom: 32px;
    left: 75%;
    width: 25%;
    height: 128px;
}
a.foot-cate-name {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #313131;
    width: 100%;
    height: 31px;
    line-height: 31px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border-bottom: solid 1px #ddd;
}




/*首页样式*/
.search-container{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #B6B6B6;
}
.search-container input.search-box{
    border-style: none;
    border-radius: 4px;
    position: absolute;
    width:75%;
    height: 24px;
    left:4px;
    top:3px;
}
.search-container a.search-button{
    font-family: "microsoft yahei";
    position: absolute;
    top:6px;
    right:12px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    height: 100%;

}
.search-container div.icon-button{
    position: absolute;
    top:5px;
    left:calc(75% - 22px);
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(images/search.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.hot-sale-container{
    width: 95%;
    margin: 0 auto;
    height: auto;
}
.hot-sale-container .hot-sale-box{
    overflow: hidden;
    zoom:1;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    border-bottom:solid 1px #ccc;
    /*background-color: #007aff;*/
}
.hot-sale-container .hot-sale-box .hot-sale-content{

    float: left;
    width: 45%;
    min-height: 100px;
    /*background-color: #00a213;*/
}
.hot-sale-container .hot-sale-box .hot-sale-content .hot-sale-name{
    margin: 5px auto 5px auto;
    width: 95%;
    min-height: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    /*background-color: #00415e;*/
}
.hot-sale-container .hot-sale-box .hot-sale-content .hot-sale-intro{
    margin: 5px auto 5px auto;
    width: 95%;
    min-height: 16px;
}
.hot-sale-container .hot-sale-box .hot-sale-content .hot-sale-price{
    margin: 5px auto 5px auto;
    width: 95%;
    font-weight: 600;
    line-height: 16px;
}
.hot-sale-container .hot-sale-box .hot-sale-content a.hot-sale-buy{
    display: block;
    margin: 0px auto 5px 2.5%;
    width: 45px;
    height: 25px;
    background-image: url(images/buy-button.png);
    background-size: 45px 25px;
    background-repeat: no-repeat;
}
.hot-sale-container .hot-sale-box .hot-sale-image{
    border-style: none;
    overflow: hidden;
    float: right;
    width: 55%;
    min-height: 100px;
    max-height:200px;
}
.hot-sale-container .hot-sale-box .hot-sale-image img{
    width: 100%;
    height: auto;
    max-height: 180px;
    border-style: none;

}

.remark-container{
    width: 100%;
    height: 200px;
    /*background-color: #00415e;*/
}
.remark-container .remark-box{
    overflow: hidden;
    float: left;
    width: 50%;
    height: 100px;
    /*background-color: #00a213;*/
}
.remark-container .remark-box .imgbox {
    float: left;
    width: 25%;
    height: 60px;
    margin: 10px 3% 10px 12%;
     border: solid 1px #ccc;
}
.remark-container .remark-box .remark-content{
    margin: 10px 0 0 0;
    width: 55%;
    height: 100px;
    float: left;
    /*background-color: #111111;*/
}
.remark-container .remark-box .remark-content .remark-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}
.remark-container .remark-box .remark-content .remark {
    font-size: 11px;
}


/*货品列表*/
.category-name {
    width: 90%;
    height: 28px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 18px;

}
.h-slash {
    width: 100%;
    border-bottom: solid 1px #ccc;
}
.goods-list-container {
    width: 90%;
    min-height: 280px;
    margin: 0 auto;
    background-color: #111111;
}
.goods-list-container .goods-list-box {
    float: left;
    width: 50%;
    min-height: 270px;
    background-color: #00a213;
}
.goods-list-container .goods-list-box img {
    display: block;
    width: 100%;
    height: auto;
}
.goods-list-container .goods-list-box .name{
    margin: 5px auto 5px auto;
    width: 95%;
    min-height: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
}



/*货品详情*/
.mBaner {
    min-width: 320px;
    max-width: 640px;
    width: auto;
    min-height: 110px;
    max-height: 220px;
    height: 50vh;
    /*margin-top: 50px;*/
}

/*商品详情*/
.pDetail {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    overflow: hidden;
    margin-bottom: 58px;
    background-color: #e1e1e1
}

div .module-box {
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    margin-top: 1.5vh;
}

/*商品基本信息*/
.pDetail .baseInfo {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    position: relative;
    padding-bottom: 2px;
}

.pDetail .baseInfo .pd_info {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 1px #dcdcdc;
    border-bottom-style: solid
}

.baseInfo .pd_info .pName {
    overflow: hidden;
    width: 90vw;
    margin: 1vh auto;
    min-height: 5vh;
}

.pName span.pro_Name {
    font-size: 5vw;
    display: block;
    line-height: 5vh;
    font-weight: 600
}

.baseInfo .pd_info h1 {
    color: #333;
    height: 44px;
    overflow: hidden;
}

.baseInfo .pd_info h1 span {
    font-size: 14px;
    display: block;
    height: 44px;
    overflow: hidden;
    line-height: 22px;
}

.baseInfo .pd_info h1 img {
    width: 35.74px;
    height: 18px;
    vertical-align: middle;
    padding-right: 5px;
    float: left;
    margin-top: 3px;
}

.baseInfo .pd_info .evaluate-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    text-align: right
}

.baseInfo .pdDot {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 8px;
    text-align: center;
    z-index: 10;
    opacity: 0.9;
}

.baseInfo .pd_info dl .price {
    font-size: 1.7em;
    color: #333
}

.baseInfo .pd_info dl .cl_red {
    font-size: 18px;
    line-height: 18px;
    color: #eb0b30;
}

.baseInfo .pd_info dl {
    width: 90vw;
    margin: 1vh auto 0 auto;
    overflow: hidden;
    position: relative;
}

.baseInfo .pd_info dl dt {
    float: left;
    clear: left;
    padding-bottom: 10px;
    color: #999;
    line-height: 18px;
    margin-right: 5px;
}

.baseInfo .pd_info dl dd {
    float: left;
    color: #999;
    line-height: 18px;
}

.baseInfo .pd_info dl dd a {
    text-decoration: none;
    color: #999;
}

.baseInfo .pd_info dl b {
    display: inline-block;
    width: 12px;
}

.pDetail .baseInfo .buy {
    border-style: solid none
}

.buy dl {
    width: 90vw;
    margin: 1.5vh auto 0 auto;
}

.buy dl dd {
    float: left;
    margin: 8px 0;
    color: #666;
}

.buy dl dd.selectBox {
    cursor: pointer;
    position: relative;
    border-style: solid;
    border-width: thin;
    /*padding: 0.5vh 0.3vw;*/
    margin: 0px 5px 8px 0;
    padding: 1%;
    min-width: 10vw;
    max-width: 16vw;
    height: 4.5vh;
    line-height: 5vh;
    font-size: 4vw;
    /*font-weight: 400;*/
    text-align: center;
}

.buy dl dd.detail-selected {
    border-color: red;
    background-image: url(images/icon-tick.jpg);
    background-size: 20% auto;
    background-repeat: no-repeat;
    background-position: 96% 96%;
}

.baseInfo .buy dl dt {
    float: left;
    clear: left;
    margin: 8px 5px 8px 0;
    line-height: 5vw;
    font-size: 4vw;
}

.baseInfo .buy dl b {
    display: inline-block;
    width: 6px;
}

.baseInfo .buy .item {
    color: #999;
    background-color: #e6e6e6;
    line-height: 25px;
    padding: 0 8px;
    margin-right: 10px;
    display: inline-block;
}

.baseInfo .buy .item a {
    text-decoration: none;
}

.baseInfo .buy .cur {
    color: #333;
    background-color: #fff;
    border: 1px solid #ffa5af;
    line-height: 23px;
    padding: 0 7px;
}

.countBox {
    display: inline-block;
    line-height: 5vh;
    text-align: right;
    width: 30vw;
    color: #999;
    font-size: 5vw;
}

.countBox .minus {
    background-color: #e1e1e1;
    text-decoration: none;
    border: 1px solid #e3e3e3;
    font-size: 5vw;
    line-height: 5.2vh;
    width: 6vw;
    height: 5.1vh;
    text-align: center;
    display: inline-block;
    float: left;
    font-weight: 500;
}

.countBox .plus {
    background-color: #e1e1e1;
    text-decoration: none;
    border: 1px solid #e3e3e3;
    font-size: 5vw;
    line-height: 5.2vh;
    width: 6vw;
    height: 5.2vh;
    text-align: center;
    display: inline-block;
    float: left;
    font-weight: 500;
}

.countBox .count {
    border: none;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    line-height: 5.2vh;
    height: 5.2vh;
    width: 12vw;
    text-align: center;
    display: inline-block;
    float: left;
}

.baseInfo .buy .singleBox {
    margin: 8px 0 10px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    padding: 3px 15px;
    color: #333;
}

.buy .button-box {
    overflow: hidden;
    width: 90vw;
    margin: 1vh auto;
    min-height: 6vh;
}

.button-box button {
    font-size: 3.5vw;
    float: left;
    width: 25vw;
    height: 5vh;
    background-color: #fff;
    border-color: red;
    color: red;
}

.button-box button.buy-now {
    margin: 0 10vw 0 13vw;
}

.button-box button.add-cart {
    background-color: red;
    color: #ffffff;
}

/*配件选择*/
.pDetail .baseInfo .part {
    border-style: solid none;
    min-height: 18vh;

}

.part .title {
    width: 90vw;
    font-size: 4vw;
    line-height: 5vw;
    margin: 2vh auto;
}

.part .partInf {
    position: relative;
    width: 90vw;
    min-height: 15vh;
    margin: 1vh auto;

}

.part .partInf .check-box {
    cursor: pointer;
    float: left;
    height: 15vh;
    width: 5vw;
    background-image: url(images/icon-grey-tick.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 4vh;
}

.part .partInf .checked {
    background-image: url(images/icon-tick.jpg);
}

.part .partDetail {
    margin-left: 1vw;
    float: left;
    height: 15vh;
    width: 81vw;
}

.part .partDetail img {
    border: thin solid #939393;
    float: left;
    width: 25%;
    height: auto;
}

.part .partDetail dl {
    margin-left: 6vw;
    position: relative;
    width: 35vw;
    height: 15vh;
    float: left;
}

.partDetail dl dt {
    margin: 0;
    font-size: 3.5vw;
    line-height: 4vw;
    float: left;
    clear: left;
    padding-bottom: 1vh;
    color: #999;;
}

.partDetail dl dd {
    /*max-width: 35vw;*/
    font-size: 3.5vw;
    line-height: 4vw;
    float: left;
}

.partDetail dl dt.detail {
    margin: 0;
    padding: 0;
}

.partDetail dl dd.price {
    color: red;
}
.partCount{
    width: 20vw;
    position: absolute;
    right: 0;
    top:0;
}
.partCount .count{
    width:5vw;
}
.partBuy{
    overflow: hidden;
    width: 90vw;
    margin: 1vh auto;
    min-height: 6vh;
}
.partBuy button {
    font-size: 3.5vw;
    float: left;
    width: 25vw;
    height: 5vh;
    background-color: #fff;
    border-color: red;
    color: red;
}

.partBuy button.part-buy-now {
    margin: 0 10vw 0 13vw;
}

.partBuy button.part-add-cart {
    background-color: red;
    color: #ffffff;
}

/*用户评价*/
.pDetail .baseInfo .review {

}

.review .title{
    width: 90%;
    margin: 0 auto;
    height: 8vw;
    /*border-bottom: solid thin #ddd;*/
}

.review .title p.titleName{
    font-size: 4vw;
    float:left;
    display: inline-block;
    line-height: 8vw;
}
.review .title p.reviewCount{
    font-size:3vw;
    float:right;
    display:inline-block;
    line-height: 8vw;

}
.review .keyword-block{

}
.horizonborder{
    height: 1px;
    width: 100%;
    border-bottom: solid thin #ddd;
}
.review .review-content{
    width:90%;
    margin: 0 auto;
    min-height: 15vw;
    max-height:50vw;
    border-bottom: solid thin #ddd;
}
.review .review-content .nameblock{
    height:6vw;
}
.review-content .nameblock p.name{
    float: left;
    line-height: 6vw;
    font-size: 3.5vw;
    margin-right: 2vw;
}

.review-content .nameblock .score{
    float: left;
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
    margin-left: 1vw;
    background-image: url('images/star-light.png');
    background-repeat: no-repeat;
    background-size: 3vw 3vw;
}
.review-content .nameblock p.time{
    float: right;
    line-height: 6vw;
    font-size: 3.5vw;
    margin-right: 0vw;
}
.review .review-content .text{
    width: 100%;
    margin: 1vw auto;
    min-height: 5vw;
    font-size:3.7vw;

}
.review .review-content .imgbox{
    overflow: hidden;
    zoom: 1;
}
.review .review-content .cate{
    margin: 1vw auto;
    font-size: 3vw;
    min-height: 4vw;
    color: #ddd;
}
.review .more-review{
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    height: 7vw;
    width: 100%;
    line-height: 7vw;
    font-size: 4vw;
}

/*详情*/
.pDetail .baseInfo .g-detail {
    min-height: 60vh;
    overflow-x: hidden;
}

.g-detail .detail-nav {
    text-align: center;
    margin: 1vh auto;
    width: 90vw;
    height: 6vh;
    border-width: thin;
    border-style: solid none;
}

.detail-nav .slash {
    float: left;
    width: 1px;
    height: 6vh;
    border-left-style: solid;
}

.g-detail .detail-nav .nav {
    float: left;
    /*margin: 0 6vw;*/
    cursor: pointer;
    width: 29vw;
    line-height: 6vh;
    font-size: 4vw;
    display: inline;
}

.nav-selected {
    color: red;
}

.g-detail .detail-info {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.detail-info img {
    max-width: 95vw;
}

.g-detail .detail-par {
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /*background-color: #ef0808;*/
}

.detail-par table {
    margin: 2vw auto;
    width: 90%;
    border-collapse: collapse;
    /*text-align: center;*/
    border-width: thin;
    border-style: solid;
}

.detail-par table td {
    width: auto;
    padding: 1vw;
    /*font-size: 0.7em;*/
    font-size: 4vw;
    line-height: 5vw;
    height: 7vw;
    padding: 0;
    text-align: center;
    border-width: thin;
    border-style: solid;
}

.g-detail .detail-after {
    text-align: left;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /*background-color: #00a213;*/
}

/*评价页面*/

.review_block {
    /*float: left;*/
    overflow: hidden;
    zoom: 1;
    width: 100%;
    font-size: 3.5vw;
    border-bottom: solid thin;
    min-height: 30vw;
}

.review_block .goods-inf {
    float: left;
    width: 26%;
    margin-left: 2%;
    margin-top: 5vw;
    min-height: 40vw;
}

.review_block .goods-inf img {
    width: 100%;
    max-height: 25vw;
    height: auto;
}

.review_block .goods-inf .name {
    height: 5vw;
    text-align: center;
    margin-top: 5vw;
}

.review_block .score {
    line-height: 5vw;
    float: left;
    width: 65%;
    margin: 5vw auto 1vw 1vw;
    /*background-color: #00415e;*/
    height: 5vw;
}

.review_block .score p {
    font-size: 3.5vw;
    display: inline-block;
    float: left;
    /*background-color: #0088cc;*/
    line-height: 5vw;
    margin-left: 2vw;
}

.review_block .score p.avl {
    font-size: 3.5vw;
    float: right;

}

.review_block .score .score-block {
    cursor: pointer;
    float: left;
    width: 5vw;
    height: 5vw;
    margin-left: 2vw;
    background-image: url('images/star.png');
    background-repeat: no-repeat;
    background-size: 5vw 5vw;
}

.review_block .score .light {
    background-image: url('images/star-light.png');
}

.review_block .review_content {
    margin: 1vw auto 1vw 1vw;
    float: left;
    width: 65%;
    min-height: 20vw;
}

.review_block .review_content textarea {
    padding: 1% 0;
    margin: 2% 0;
    width: 60%;
    height: 18vw;
}

.review_block .review_content p.title {
    display: inline-block;
    float: left;
    line-height: 5vw;
    margin-left: 2vw;
}
.review_block .imgBlock{
    /*background-color: #0088cc;*/
    margin: 0 auto 0 1vw;
    float: left;
    width: 65%;
    height: 10vw;
}
.review_block .imgBlock p{
    display: inline-block;
    float: left;
    line-height: 5vw;
    margin-left: 2vw;
}
.review_block .imginput{
    cursor: pointer;
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0 2vw 0 0;
    /*background-color: #00415e;*/
    background-image: url('images/icon-add.jpg');
    background-repeat: no-repeat;
    background-size: 10vw 10vw;
}
img.review-demo{
    display: block;
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0 2vw 0 0;
}


.review_block a.submit-review{
    margin: 2vw auto 2vw 12%;
    float : left;
    display: inline-block;
    width: 40%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 1px 1px 1px #ccc;
    background-color: #ff0000;
    color: #ffffff;
}
/*支付成功页面*/
.success-title{
    color:blue;
    text-align: center;
    width: 100%;
    height: 15vw;
    font-size: 13vw;
}



