body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section, a, span, label, em, strong, b, i, del {
    margin: 0;
    padding: 0;
    /*color: #333;*/
    font: 14px/16px microsoft yahei, Verdana, Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    /*font-size: 12px;*/
    /*line-height: 16px;*/
    /*font-family: 'microsoft yahei', Verdana, Arial;*/
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    border-color: #939393;
    border-width: thin;

}

a {
    cursor: pointer;
    text-decoration: none;
}

div {
    /*cursor: pointer;*/
}

div .toast {
    z-index: 999;
    padding: 20px 30px;
    border: 1px solid #333;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -45%);
    background-color: #333;
    opacity: 0.8;
    display: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    min-width: 126px;
    max-width: 196px;
}

div.wrap {
    /*position: relative;*/
    min-width: 320px;
    max-width: 640px;
    /*height: 100vh;*/
    margin: 0 auto;
    overflow-x: hidden;
    /*background-color: #f5f3f1;*/
    font-family: microsoft yahei;
    color: #313131;
}

/*底部导航条*/
div.foot-nav {
    position: fixed;
    bottom: 7vw;
    width: 100%;

    max-width: 640px;
    height: 10vw;
    background-color: #999999;
    z-index: 2;
}

.foot-nav .category-nav {
    width: 75%;
    height: 100%;
    float: left;
}

.foot-nav .con-nav {
    width: 24%;
    height: 100%;
    float: right;
}

.con-nav div.icon-block {

    position: relative;
    width: 10vw;
    height: 100%;
    float: left;
    font-size: 1.2vw;

}

.icon-block .icon-name {
    font-size: 2vw;
    line-height: 2.4vw;
    display: block;
    text-align: center;

}

div.icon-block div.icon {

    margin: 5px auto -5px auto;
    width: 50%;
    height: 70%;
    background-repeat: no-repeat;
}

div.user-center {
    background-image: url(images/personal.png);
    background-size: 100% auto;
}

div.kf {
    background-image: url(images/kf.png);
    background-size: 100% auto;
}

.category-nav .space {
    width: 100%;
    height: 15%;
}

.category-nav .nave-block {
    position: relative;
    /*top: 1vh;*/
    padding-top: 3.25vw;
    height: 100%;
    width: 24%;
    float: left;
    line-height: 100%;
    text-align: center;
    font-size: 3.5vw;
    /*font-size:12px;*/
    font-weight: 600;
}

.category-nav .nave-slash {
    height: 70%;
    width: 1px;
    border-left-style: solid;
    border-color: #7e7e7e;
    margin-top:1.5vw;

    /*top:15%;*/
    float: left;
}

div.foot-nav .selected {
    background-color: #7D7C7C;
}

div.foot {
    color:#ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    height: 7.1vw;
    /*background-image: url(images/foot.png);*/
    background-size: 100% 30px;
    background-color: #282828;
    z-index: 999;
}
.foot .logo-block{
    margin: 0 auto;
    width: 47vw;
    height: 7.1vw;
    /*background-color: #00415e;*/
}
.foot .logo-block .logo{
    float:left;
    width:15vw;
    height: 3.1vw;
    margin: 2vw 0;
    background-image: url('images/logo.png');
    background-size: auto 3.1vw;
    background-repeat: no-repeat;
}
.foot .logo-block .flag{
    width: 5vw;
    background-image: url('images/flag.png');
    margin-right: 2vw;
}
.foot .logo-block .name{
    font-family: "microsoft yahei";
    float: left;
    width:25vw;
    height:3.1vw;
    line-height: 3vw;
    margin: 2.4vw 0;
    color:#ffffff;
    font-size: 2.8vw;
    font-weight: 500;

}

/*首页样式*/

/*头*/
div.header {
    width: 100%;
    height: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom-style: solid;
    clear: both;
    overflow: hidden;
}

div.header .content {
    width: 90%;
    height: 100%;
    position: relative;
    left: 6%;
    overflow: hidden;
}

h3.cate-name {
    display: block;
    float: left;
    line-height: 100%;
    font-size: 15px;
    height: 100%;
    /*margin: 0;*/
}

.left-icon {
    display: inline-block;
    width: 10px;
    height: 14px;
    background-image: url(images/icon-left.png);
    background-size: 10px 14px;
    float: left;
    margin: 14px 10px 14px 10px;
}

/*货品列表*/

div.content {
    width: 100%;
    height: 74%;
    overflow-x: hidden;
    /*overflow-y: hidden;*/

}

div.main-left {
    float: left;
    width: 23%;
    height: 85%;
    overflow: hidden;
    /*background-color: #00415e;*/
}

div.main-left .title {
    margin: 10px 10px 0 0;
    margin-left: 13%;
    width: 70%;
    height: 20px;
    overflow: hidden;
}

div.main-left .title h3 {

    margin: 0;
}

div.main-left .produce-list {
    cursor: pointer;
    position: relative;
    width: 70%;
    padding-left: 13%;

}

ul.sub-category {
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.main-left li {
    font-size: 1.4em;
    padding: 1vh 0;
    cursor: pointer;
}

.sub-category h5 {
    font-size:3.7vw;
    line-height: 4.2vw;
    margin-top: 10px;
    margin-bottom: 0;
}

div.main-left .sub-ul {
    display: none;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 10px;
}

div.main-left h3 {
    /*color: #00a213;*/
}

div.v-border {
    position: relative;
    top: 40px;
    float: left;
    width: 1px;
    height: 65%;
    border-left-style: solid;
}

div.main-right {
    padding-top: 50px;
    float: left;
    width: 75.6%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}

div.main-right .produce-intro {
    position: relative;
    width: 100%;
    min-height: 150px;
    /*background-color: #007aff;*/
    margin-left: 15px;

}

.produce-intro .buy-button {
    top: 105px;
    width: 45px;
    height: 21px;
    display: block;
    background-image: url(images/buy-button.png);
    background-repeat: no-repeat;
    background-size: 45px 21px;

}

.produce-intro .produce-img {
    width: 50%;
    margin-right: 0;
    min-height: 100px;
    /*background-color: #00415e;*/
}

.produce-img img {
    width: 100%;
    max-height: 300px;
}

.produce-inf {
    width: 9em;
    position: absolute;
    left: 55%;
}

div.produce-intro .name {
    top: 0;
}

div.produce-intro .discrib {
    top: 25px;
}

.produce-inf h3 {
    margin: 0;
}

.produce-intro .price {
    top: 85px;
}

div .h-border {
    position: relative;
    left: 20px;
    width: 100%;
    height: 3px;
    border-top-style: solid;
}

/*货品详情*/
.mBaner {
    min-width: 320px;
    max-width: 640px;
    width: auto;
    min-height: 110px;
    max-height: 220px;
    height: 50vh;
    /*margin-top: 50px;*/
}

/*商品详情*/
.pDetail {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    overflow: hidden;
    margin-bottom: 58px;
    background-color: #e1e1e1
}

div .module-box {
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    margin-top: 1.5vh;
}

/*商品基本信息*/
.pDetail .baseInfo {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    position: relative;
    padding-bottom: 2px;
}

.pDetail .baseInfo .pd_info {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 1px #dcdcdc;
    border-bottom-style: solid
}

.baseInfo .pd_info .pName {
    overflow: hidden;
    width: 90vw;
    margin: 1vh auto;
    min-height: 5vh;
}

.pName span.pro_Name {
    font-size: 5vw;
    display: block;
    line-height: 5vh;
    font-weight: 600
}

.baseInfo .pd_info h1 {
    color: #333;
    height: 44px;
    overflow: hidden;
}

.baseInfo .pd_info h1 span {
    font-size: 14px;
    display: block;
    height: 44px;
    overflow: hidden;
    line-height: 22px;
}

.baseInfo .pd_info h1 img {
    width: 35.74px;
    height: 18px;
    vertical-align: middle;
    padding-right: 5px;
    float: left;
    margin-top: 3px;
}

.baseInfo .pd_info .evaluate-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    text-align: right
}

.baseInfo .pdDot {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 8px;
    text-align: center;
    z-index: 10;
    opacity: 0.9;
}

.baseInfo .pd_info dl .price {
    font-size: 1.7em;
    color: #333
}

.baseInfo .pd_info dl .cl_red {
    font-size: 18px;
    line-height: 18px;
    color: #eb0b30;
}

.baseInfo .pd_info dl {
    width: 90vw;
    margin: 1vh auto 0 auto;
    overflow: hidden;
    position: relative;
}

.baseInfo .pd_info dl dt {
    float: left;
    clear: left;
    padding-bottom: 10px;
    color: #999;
    line-height: 18px;
    margin-right: 5px;
}

.baseInfo .pd_info dl dd {
    float: left;
    color: #999;
    line-height: 18px;
}

.baseInfo .pd_info dl dd a {
    text-decoration: none;
    color: #999;
}

.baseInfo .pd_info dl b {
    display: inline-block;
    width: 12px;
}

.pDetail .baseInfo .buy {
    border-style: solid none
}

.buy dl {
    width: 90vw;
    margin: 1.5vh auto 0 auto;
}

.buy dl dd {
    float: left;
    margin: 8px 0;
    color: #666;
}

.buy dl dd.selectBox {
    cursor: pointer;
    position: relative;
    border-style: solid;
    border-width: thin;
    /*padding: 0.5vh 0.3vw;*/
    margin: 0px 5px 8px 0;
    padding: 1%;
    min-width: 10vw;
    max-width: 16vw;
    height: 4.5vh;
    line-height: 5vh;
    font-size: 4vw;
    /*font-weight: 400;*/
    text-align: center;
}

.buy dl dd.detail-selected {
    border-color: red;
    background-image: url(images/icon-tick.jpg);
    background-size: 20% auto;
    background-repeat: no-repeat;
    background-position: 96% 96%;
}

.baseInfo .buy dl dt {
    float: left;
    clear: left;
    margin: 8px 5px 8px 0;
    line-height: 5vw;
    font-size: 4vw;
}

.baseInfo .buy dl b {
    display: inline-block;
    width: 6px;
}

.baseInfo .buy .item {
    color: #999;
    background-color: #e6e6e6;
    line-height: 25px;
    padding: 0 8px;
    margin-right: 10px;
    display: inline-block;
}

.baseInfo .buy .item a {
    text-decoration: none;
}

.baseInfo .buy .cur {
    color: #333;
    background-color: #fff;
    border: 1px solid #ffa5af;
    line-height: 23px;
    padding: 0 7px;
}

.countBox {
    display: inline-block;
    line-height: 5vh;
    text-align: right;
    width: 30vw;
    color: #999;
    font-size: 5vw;
}

.countBox .minus {
    background-color: #e1e1e1;
    text-decoration: none;
    border: 1px solid #e3e3e3;
    font-size: 5vw;
    line-height: 5.2vh;
    width: 6vw;
    height: 5.1vh;
    text-align: center;
    display: inline-block;
    float: left;
    font-weight: 500;
}

.countBox .plus {
    background-color: #e1e1e1;
    text-decoration: none;
    border: 1px solid #e3e3e3;
    font-size: 5vw;
    line-height: 5.2vh;
    width: 6vw;
    height: 5.2vh;
    text-align: center;
    display: inline-block;
    float: left;
    font-weight: 500;
}

.countBox .count {
    border: none;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    line-height: 5.2vh;
    height: 5.2vh;
    width: 12vw;
    text-align: center;
    display: inline-block;
    float: left;
}

.baseInfo .buy .singleBox {
    margin: 8px 0 10px;
    line-height: 28px;
    border: 1px solid #e3e3e3;
    padding: 3px 15px;
    color: #333;
}

.buy .button-box {
    overflow: hidden;
    width: 90vw;
    margin: 1vh auto;
    min-height: 6vh;
}

.button-box button {
    font-size: 3.5vw;
    float: left;
    width: 25vw;
    height: 5vh;
    background-color: #fff;
    border-color: red;
    color: red;
}

.button-box button.buy-now {
    margin: 0 10vw 0 13vw;
}

.button-box button.add-cart {
    background-color: red;
    color: #ffffff;
}

/*配件选择*/
.pDetail .baseInfo .part {
    border-style: solid none;
    min-height: 18vh;

}

.part .title {
    width: 90vw;
    font-size: 4vw;
    line-height: 5vw;
    margin: 2vh auto;
}

.part .partInf {
    position: relative;
    width: 90vw;
    min-height: 15vh;
    margin: 1vh auto;

}

.part .partInf .check-box {
    cursor: pointer;
    float: left;
    height: 15vh;
    width: 5vw;
    background-image: url(images/icon-grey-tick.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 4vh;
}

.part .partInf .checked {
    background-image: url(images/icon-tick.jpg);
}

.part .partDetail {
    margin-left: 1vw;
    float: left;
    height: 15vh;
    width: 81vw;
}

.part .partDetail img {
    border: thin solid #939393;
    float: left;
    width: 25%;
    height: auto;
}

.part .partDetail dl {
    margin-left: 6vw;
    position: relative;
    width: 35vw;
    height: 15vh;
    float: left;
}

.partDetail dl dt {
    margin: 0;
    font-size: 3.5vw;
    line-height: 4vw;
    float: left;
    clear: left;
    padding-bottom: 1vh;
    color: #999;;
}

.partDetail dl dd {
    /*max-width: 35vw;*/
    font-size: 3.5vw;
    line-height: 4vw;
    float: left;
}

.partDetail dl dt.detail {
    margin: 0;
    padding: 0;
}

.partDetail dl dd.price {
    color: red;
}
.partCount{
    width: 20vw;
    position: absolute;
    right: 0;
    top:0;
}
.partCount .count{
    width:5vw;
}
.partBuy{
    overflow: hidden;
    width: 90vw;
    margin: 1vh auto;
    min-height: 6vh;
}
.partBuy button {
    font-size: 3.5vw;
    float: left;
    width: 25vw;
    height: 5vh;
    background-color: #fff;
    border-color: red;
    color: red;
}

.partBuy button.part-buy-now {
    margin: 0 10vw 0 13vw;
}

.partBuy button.part-add-cart {
    background-color: red;
    color: #ffffff;
}

/*用户评价*/
.pDetail .baseInfo .review {

}

.review .title{
    width: 90%;
    margin: 0 auto;
    height: 8vw;
    /*border-bottom: solid thin #ddd;*/
}

.review .title p.titleName{
    font-size: 4vw;
    float:left;
    display: inline-block;
    line-height: 8vw;
}
.review .title p.reviewCount{
    font-size:3vw;
    float:right;
    display:inline-block;
    line-height: 8vw;

}
.review .keyword-block{

}
.horizonborder{
    height: 1px;
    width: 100%;
    border-bottom: solid thin #ddd;
}
.review .review-content{
    width:90%;
    margin: 0 auto;
    min-height: 15vw;
    max-height:50vw;
    border-bottom: solid thin #ddd;
}
.review .review-content .nameblock{
    height:6vw;
}
.review-content .nameblock p.name{
    float: left;
    line-height: 6vw;
    font-size: 3.5vw;
    margin-right: 2vw;
}

.review-content .nameblock .score{
    float: left;
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
    margin-left: 1vw;
    background-image: url('images/star-light.png');
    background-repeat: no-repeat;
    background-size: 3vw 3vw;
}
.review-content .nameblock p.time{
    float: right;
    line-height: 6vw;
    font-size: 3.5vw;
    margin-right: 0vw;
}
.review .review-content .text{
    width: 100%;
    margin: 1vw auto;
    min-height: 5vw;
    font-size:3.7vw;

}
.review .review-content .imgbox{
    overflow: hidden;
    zoom: 1;
}
.review .review-content .cate{
    margin: 1vw auto;
    font-size: 3vw;
    min-height: 4vw;
    color: #ddd;
}
.review .more-review{
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    height: 7vw;
    width: 100%;
    line-height: 7vw;
    font-size: 4vw;
}

/*详情*/
.pDetail .baseInfo .g-detail {
    min-height: 60vh;
    overflow-x: hidden;
}

.g-detail .detail-nav {
    text-align: center;
    margin: 1vh auto;
    width: 90vw;
    height: 6vh;
    border-width: thin;
    border-style: solid none;
}

.detail-nav .slash {
    float: left;
    width: 1px;
    height: 6vh;
    border-left-style: solid;
}

.g-detail .detail-nav .nav {
    float: left;
    /*margin: 0 6vw;*/
    cursor: pointer;
    width: 29vw;
    line-height: 6vh;
    font-size: 4vw;
    display: inline;
}

.nav-selected {
    color: red;
}

.g-detail .detail-info {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.detail-info img {
    max-width: 95vw;
}

.g-detail .detail-par {
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /*background-color: #ef0808;*/
}

.detail-par table {
    margin: 2vw auto;
    width: 90%;
    border-collapse: collapse;
    /*text-align: center;*/
    border-width: thin;
    border-style: solid;
}

.detail-par table td {
    width: auto;
    padding: 1vw;
    /*font-size: 0.7em;*/
    font-size: 4vw;
    line-height: 5vw;
    height: 7vw;
    padding: 0;
    text-align: center;
    border-width: thin;
    border-style: solid;
}

.g-detail .detail-after {
    text-align: left;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /*background-color: #00a213;*/
}

/*评价页面*/

.review_block {
    /*float: left;*/
    overflow: hidden;
    zoom: 1;
    width: 100%;
    font-size: 3.5vw;
    border-bottom: solid thin;
    min-height: 30vw;
}

.review_block .goods-inf {
    float: left;
    width: 26%;
    margin-left: 2%;
    margin-top: 5vw;
    min-height: 40vw;
}

.review_block .goods-inf img {
    width: 100%;
    max-height: 25vw;
    height: auto;
}

.review_block .goods-inf .name {
    height: 5vw;
    text-align: center;
    margin-top: 5vw;
}

.review_block .score {
    line-height: 5vw;
    float: left;
    width: 65%;
    margin: 5vw auto 1vw 1vw;
    /*background-color: #00415e;*/
    height: 5vw;
}

.review_block .score p {
    font-size: 3.5vw;
    display: inline-block;
    float: left;
    /*background-color: #0088cc;*/
    line-height: 5vw;
    margin-left: 2vw;
}

.review_block .score p.avl {
    font-size: 3.5vw;
    float: right;

}

.review_block .score .score-block {
    cursor: pointer;
    float: left;
    width: 5vw;
    height: 5vw;
    margin-left: 2vw;
    background-image: url('images/star.png');
    background-repeat: no-repeat;
    background-size: 5vw 5vw;
}

.review_block .score .light {
    background-image: url('images/star-light.png');
}

.review_block .review_content {
    margin: 1vw auto 1vw 1vw;
    float: left;
    width: 65%;
    min-height: 20vw;
}

.review_block .review_content textarea {
    padding: 1% 0;
    margin: 2% 0;
    width: 60%;
    height: 18vw;
}

.review_block .review_content p.title {
    display: inline-block;
    float: left;
    line-height: 5vw;
    margin-left: 2vw;
}
.review_block .imgBlock{
    /*background-color: #0088cc;*/
    margin: 0 auto 0 1vw;
    float: left;
    width: 65%;
    height: 10vw;
}
.review_block .imgBlock p{
    display: inline-block;
    float: left;
    line-height: 5vw;
    margin-left: 2vw;
}
.review_block .imginput{
    cursor: pointer;
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0 2vw 0 0;
    /*background-color: #00415e;*/
    background-image: url('images/icon-add.jpg');
    background-repeat: no-repeat;
    background-size: 10vw 10vw;
}
img.review-demo{
    display: block;
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0 2vw 0 0;
}


.review_block a.submit-review{
    margin: 2vw auto 2vw 12%;
    float : left;
    display: inline-block;
    width: 40%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 1px 1px 1px #ccc;
    background-color: #ff0000;
    color: #ffffff;
}
/*支付成功页面*/
.success-title{
    color:blue;
    text-align: center;
    width: 100%;
    height: 15vw;
    font-size: 13vw;
}



