body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section, a, span, label, em, strong, b, i, del {
    margin: 0;
    padding: 0;
    font: 12px/16px microsoft yahei, Verdana, Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 16px;
    /*font-family: 'microsoft yahei', Verdana, Arial;*/
    font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    border-color: #939393;
    border-width: thin;

}

a {
    color: #313131;
    cursor: pointer;
    text-decoration: none;
}

a:link {
    color: #313131;
}

div {
    /*cursor: pointer;*/
}

div .toast {
    z-index: 999;
    padding: 20px 30px;
    border: 1px solid #333;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -45%);
    background-color: #333;
    opacity: 0.8;
    display: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    min-width: 126px;
    max-width: 196px;
}

div.wrap {
    /*position: relative;*/
    min-width: 320px;
    max-width: 640px;
    /*height: 100vh;*/
    margin: 0 auto;
    overflow-x: hidden;
    /*background-color: #f5f3f1;*/
    font-family: microsoft yahei;
    color: #313131;
}

div.foot {
    background-color: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 32px;
    bottom: 0;
}

.foot a.foot-nave {
    color: #313131;
    float: left;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: calc(25% - 1px);
    height: 32px;
    line-height: 32px;
    border-left: solid 1px #D6D6D6;

}

div.foot-cate-sub {
    display: none;
    position: fixed;
    background-color: #EFEFEF;
    bottom: 32px;
    left: 25%;
    width: 25%;
    height: 200px;
}

div.foot-user-sub {
    display: none;
    position: fixed;
    background-color: #EFEFEF;
    bottom: 32px;
    left: 75%;
    width: 25%;
    height: 128px;
}

a.foot-cate-name {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #313131;
    width: 100%;
    height: 31px;
    line-height: 31px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border-bottom: solid 1px #ddd;
}

/*首页样式*/
.search-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #B6B6B6;
}

.search-container input.search-box {
    border-style: none;
    border-radius: 4px;
    position: absolute;
    width: 75%;
    height: 24px;
    left: 4px;
    top: 3px;
}

.search-container a.search-button {
    font-family: "microsoft yahei";
    position: absolute;
    top: 6px;
    right: 12px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    height: 100%;

}

.search-container div.icon-button {
    position: absolute;
    top: 5px;
    left: calc(75% - 22px);
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(images/search.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.hot-sale-container {
    width: 95%;
    margin: 0 auto;
    height: auto;
}

.hot-sale-container .hot-sale-box {
    overflow: hidden;
    zoom: 1;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    border-bottom: solid 1px #ccc;
    /*background-color: #007aff;*/
}

.hot-sale-container .hot-sale-box .hot-sale-content {

    float: left;
    width: 45%;
    min-height: 100px;
    /*background-color: #00a213;*/
}

.hot-sale-container .hot-sale-box .hot-sale-content .hot-sale-name {
    margin: 5px auto 5px auto;
    width: 95%;
    min-height: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    /*background-color: #00415e;*/
}

.hot-sale-container .hot-sale-box .hot-sale-content .hot-sale-intro {
    margin: 5px auto 5px auto;
    width: 95%;
    min-height: 16px;
}

.hot-sale-container .hot-sale-box .hot-sale-content .hot-sale-price {
    margin: 5px auto 5px auto;
    width: 95%;
    font-weight: 600;
    line-height: 16px;
}

.hot-sale-container .hot-sale-box .hot-sale-content a.hot-sale-buy {
    display: block;
    margin: 0px auto 5px 2.5%;
    width: 45px;
    height: 25px;
    background-image: url(images/buy-button.png);
    background-size: 45px 25px;
    background-repeat: no-repeat;
}

.hot-sale-container .hot-sale-box .hot-sale-image {
    border-style: none;
    overflow: hidden;
    float: right;
    width: 55%;
    min-height: 100px;
    max-height: 200px;
}

.hot-sale-container .hot-sale-box .hot-sale-image img {
    width: 100%;
    height: auto;
    max-height: 180px;
    border-style: none;

}

.remark-container {
    width: 100%;
    height: 200px;
    /*background-color: #00415e;*/
}

.remark-container .remark-box {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 100px;
    /*background-color: #00a213;*/
}

.remark-container .remark-box .imgbox {
    float: left;
    width: 25%;
    height: 60px;
    margin: 10px 3% 10px 12%;
    border: solid 1px #ccc;
}

.remark-container .remark-box .remark-content {
    margin: 10px 0 0 0;
    width: 55%;
    height: 100px;
    float: left;
    /*background-color: #111111;*/
}

.remark-container .remark-box .remark-content .remark-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}

.remark-container .remark-box .remark-content .remark {
    font-size: 11px;
}

/*货品列表*/
.category-name {
    width: 90%;
    height: 28px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 18px;
}

.h-slash {
    width: 100%;
    border-bottom: solid 1px #ccc;
}

.goods-list-container {
    width: 90%;
    min-height: 280px;
    margin: 0 auto;
}

.goods-list-container .goods-list-box {
    float: left;
    width: 50%;
    min-height: 270px;
}

.goods-list-container .goods-list-box img {
    display: block;
    width: 100%;
    height: auto;
}

.goods-list-container .goods-list-box .name {
    margin: 5px auto 5px auto;
    width: 95%;
    min-height: 16px;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
}

.goods-list-container .goods-list-box .intro {
    margin: 5px auto 5px auto;
    width: 95%;
    min-height: 16px;
    max-height: 100px
}

.goods-list-container .goods-list-box .price {
    margin: 5px auto 5px auto;
    width: 95%;
    font-weight: 600;
    line-height: 16px;

}

.goods-list-container .goods-list-box a.buy {
    display: block;
    margin: 0px auto 5px 2.5%;
    width: 45px;
    height: 25px;
    background-image: url(images/buy-button.png);
    background-size: 45px 25px;
    background-repeat: no-repeat;
}

.part-list-title {
    width: 90%;
    height: 28px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 18px;
}

.part-list-container {
    overflow: hidden;
    zoom: 1;
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;

}

.part-list-container .part-list-box {
    /*text-align: center;*/
    float: left;
    width: 33%;
    height: 100px;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.part-list-container .part-list-box img.part-img {
    display: block;
    width: auto;
    max-width: 90%;
    margin: 4px auto 4px auto;
    height: 55px;
}

.part-list-container .part-list-box .box-slash {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    border-bottom: solid 1px #ccc;
}

.part-list-container .part-list-box .part-intro {
    width: 90%;
    margin: 4px auto 0 auto;
    font-size: 10px;
    line-height: 12px;

}

/*货品详情*/
.mBaner {
    min-width: 320px;
    max-width: 640px;
    width: auto;
    min-height: 110px;
    max-height: 220px;
    height: 50vh;
    /*margin-top: 50px;*/
}

/*商品详情*/
.pDetail {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    overflow: hidden;
    margin-bottom: 58px;
    background-color: #e1e1e1
}

div .module-box {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: solid 1px #ccc;
    /*margin-top: 1.5vh;*/
}

/*商品基本信息*/
.pDetail .baseInfo {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    position: relative;
    padding-bottom: 2px;
}

.pDetail .baseInfo .pd_info {
    overflow: hidden;
    zoom: 1;
    background-color: #fff;
    box-shadow: 0 1px 1px #dcdcdc;
    border-bottom: solid 1px #ccc;
}

.baseInfo .pd_info .pName {
    overflow: hidden;
    width: 90vw;
    margin: 1vh auto;
    min-height: 18px;
}

.baseInfo .pd_info .pName span.pro_name {
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
}

.baseInfo .pd_info .inf {
    width: 90%;
    margin: 2px auto;
    font-size: 12px;
    line-height: 14px;
}

.baseInfo .pd_info .p-remark {
    width: 90%;
    margin: 4px auto;
    /*background-color: #007aff;*/
    height: 25px;
}

.baseInfo .pd_info .p-remark .p-remark-content {
    float: left;
    height: 16px;
    margin: 9px 5px auto 0;
    padding-right: 4px;
    border-right: solid 1px #ccc;
}

.baseInfo .pd_info .p-remark .price {
    margin-top: 5px;
    float: right;
    color: red;
    font-size: 16px;
    line-height: 20px;
}


/*配件选择*/
.pDetail .baseInfo .part {
    /*border-style: solid none;*/
    height: 130px;
    /*overflow-x: scroll;*/
    /*background-color: #007aff;*/
}

.module-box #count-title {
    margin: 15px auto;
}

.module-box #cate-title {
    margin: 15px auto;
}

.module-box .select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
    height: 20px;
    background: url(images/selectDown.png) no-repeat;
    background-position: 98% 50%;
    background-size: 12px 10px;
    line-height: 34px;
    text-decoration: none;
    padding-left: 5px;
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.module-box select {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #ccc;
    cursor: pointer;
    -webkit-appearance: none;
    height: 36px;
    width: 170px;
    opacity: 0;
}

.module-box .title {
    position: relative;
    /*padding-left:20px;*/
    width: 90vw;
    height: 20px;
    font-size: 16px;
    line-height: 18px;
    margin: 4px auto;
}

.module-box .title .line-number {
    float: left;
    margin: 1px 6px 6px 0;
    width: 14px;
    height: 14px;
    border: solid 1px #ccc;
    border-radius: 10px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.module-box .title .title-name {
    float: left;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
}

.pDetail .baseInfo .part .scroll-box {
    height: 100px;
    overflow-x: scroll;
}

.pDetail .baseInfo .part .part-box {
    width: 200%;
    margin-left: 5%;
    height: 100px;
    /*overflow-x: visible;*/
    overflow-y: hidden;
}

.part .part-box .partInf {
    position: relative;
    float: left;
    width: 24vw;
    height: 100px;

}

.part .part-box .partInf img.part-img {
    display: block;
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.part .partInf .check-box {
    position: absolute;
    bottom: 0;
    left: 5px;
    cursor: pointer;
    display: inline-block;
    /*float: left;*/
    height: 20px;
    width: 20px;
    background-image: url(images/check-empty.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.part .partInf .checked {
    background-image: url(images/checked.png);
}

.part .partInf .part-name {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: 25px;
}

.countBox {
    margin-left: 20px;
    float: left;
    display: inline-block;
    line-height: 18px;
    text-align: right;
    width: 60px;
    color: #999;
    font-size: 16px;
}

.countBox .minus {
    background-color: #e1e1e1;
    text-decoration: none;
    border: 1px solid #e3e3e3;
    font-size: 16px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    float: left;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.countBox .plus {
    background-color: #e1e1e1;
    text-decoration: none;
    border: 1px solid #e3e3e3;
    font-size: 16px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    float: left;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.countBox .count {
    border: none;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    line-height: 18px;
    height: 20px;
    width: 16px;
    text-align: center;
    display: inline-block;
    float: left;
}

/*用户评价*/
.pDetail .baseInfo .review {

}

.review .title {
    width: 90%;
    margin: 0 auto;
    height: 8vw;
    /*border-bottom: solid thin #ddd;*/
}

.review .title p.titleName {
    font-size: 4vw;
    float: left;
    display: inline-block;
    line-height: 8vw;
}

.review .title p.reviewCount {
    font-size: 3vw;
    float: right;
    display: inline-block;
    line-height: 8vw;

}

.review .keyword-block {

}

.horizonborder {
    height: 1px;
    width: 100%;
    border-bottom: solid thin #ddd;
}

.review .review-content {
    width: 90%;
    margin: 0 auto;
    min-height: 15vw;
    max-height: 50vw;
    border-bottom: solid thin #ddd;
}

.review .review-content .nameblock {
    height: 6vw;
}

.review-content .nameblock p.name {
    float: left;
    line-height: 6vw;
    font-size: 3.5vw;
    margin-right: 2vw;
}

.review-content .nameblock .score {
    float: left;
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
    margin-left: 1vw;
    background-image: url('images/star-light.png');
    background-repeat: no-repeat;
    background-size: 3vw 3vw;
}

.review-content .nameblock p.time {
    float: right;
    line-height: 6vw;
    font-size: 3.5vw;
    margin-right: 0vw;
}

.review .review-content .text {
    width: 100%;
    margin: 1vw auto;
    min-height: 5vw;
    font-size: 3.7vw;

}

.review .review-content .imgbox {
    overflow: hidden;
    zoom: 1;
}

.review .review-content .cate {
    margin: 1vw auto;
    font-size: 3vw;
    min-height: 4vw;
    color: #ddd;
}

.review .more-review {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    height: 7vw;
    width: 100%;
    line-height: 7vw;
    font-size: 4vw;
}

/*详情*/
.pDetail .baseInfo .g-detail {
    min-height: 60vh;
    overflow-x: hidden;
}

.g-detail .detail-nav {
    text-align: center;
    margin: 1vh auto;
    width: 90vw;
    height: 6vh;
    border-width: thin;
    border-style: solid none;
}

.detail-nav .slash {
    float: left;
    width: 1px;
    height: 6vh;
    border-left-style: solid;
}

.g-detail .detail-nav .nav {
    float: left;
    /*margin: 0 6vw;*/
    cursor: pointer;
    width: 29vw;
    line-height: 6vh;
    font-size: 4vw;
    display: inline;
}

.nav-selected {
    color: red;
}

.g-detail .detail-info {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.detail-info img {
    max-width: 95vw;
}

.g-detail .detail-par {
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /*background-color: #ef0808;*/
}

.detail-par table {
    margin: 2vw auto;
    width: 90%;
    border-collapse: collapse;
    /*text-align: center;*/
    border-width: thin;
    border-style: solid;
}

.detail-par table td {
    width: auto;
    padding: 1vw;
    /*font-size: 0.7em;*/
    font-size: 4vw;
    line-height: 5vw;
    height: 7vw;
    padding: 0;
    text-align: center;
    border-width: thin;
    border-style: solid;
}

.g-detail .detail-after {
    text-align: left;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /*background-color: #00a213;*/
}

/*评价页面*/

.review_block {
    /*float: left;*/
    overflow: hidden;
    zoom: 1;
    width: 100%;
    font-size: 3.5vw;
    border-bottom: solid thin;
    min-height: 30vw;
}

.review_block .goods-inf {
    float: left;
    width: 26%;
    margin-left: 2%;
    margin-top: 5vw;
    min-height: 40vw;
}

.review_block .goods-inf img {
    width: 100%;
    max-height: 25vw;
    height: auto;
}

.review_block .goods-inf .name {
    height: 5vw;
    text-align: center;
    margin-top: 5vw;
}

.review_block .score {
    line-height: 5vw;
    float: left;
    width: 65%;
    margin: 5vw auto 1vw 1vw;
    /*background-color: #00415e;*/
    height: 5vw;
}

.review_block .score p {
    font-size: 3.5vw;
    display: inline-block;
    float: left;
    /*background-color: #0088cc;*/
    line-height: 5vw;
    margin-left: 2vw;
}

.review_block .score p.avl {
    font-size: 3.5vw;
    float: right;

}

.review_block .score .score-block {
    cursor: pointer;
    float: left;
    width: 5vw;
    height: 5vw;
    margin-left: 2vw;
    background-image: url('images/star.png');
    background-repeat: no-repeat;
    background-size: 5vw 5vw;
}

.review_block .score .light {
    background-image: url('images/star-light.png');
}

.review_block .review_content {
    margin: 1vw auto 1vw 1vw;
    float: left;
    width: 65%;
    min-height: 20vw;
}

.review_block .review_content textarea {
    padding: 1% 0;
    margin: 2% 0;
    width: 60%;
    height: 18vw;
}

.review_block .review_content p.title {
    display: inline-block;
    float: left;
    line-height: 5vw;
    margin-left: 2vw;
}

.review_block .imgBlock {
    /*background-color: #0088cc;*/
    margin: 0 auto 0 1vw;
    float: left;
    width: 65%;
    height: 10vw;
}

.review_block .imgBlock p {
    display: inline-block;
    float: left;
    line-height: 5vw;
    margin-left: 2vw;
}

.review_block .imginput {
    cursor: pointer;
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0 2vw 0 0;
    /*background-color: #00415e;*/
    background-image: url('images/icon-add.jpg');
    background-repeat: no-repeat;
    background-size: 10vw 10vw;
}

img.review-demo {
    display: block;
    float: left;
    width: 10vw;
    height: 10vw;
    margin: 0 2vw 0 0;
}

.review_block a.submit-review {
    margin: 2vw auto 2vw 12%;
    float: left;
    display: inline-block;
    width: 40%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 1px 1px 1px #ccc;
    background-color: #ff0000;
    color: #ffffff;
}

/*支付成功页面*/
.success-title {
    color: blue;
    text-align: center;
    width: 100%;
    height: 15vw;
    font-size: 13vw;
}



